{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


<!--
context:
    latest_question_list 
        id->question_text
        1 -> mi pregunta uno
        2 -> mi pregunta dos
<ul>
    <li><a href="polls/1/">mi pregunta uno</a></li>
    <li><a href="polls/2/">mi pregunta dos</a></li>
</ul>

context:
    null

<p>No polls are available.</p>
-->

{% if mi_otra_variable %}
    <h1>{{ mi_otra_variable }}</h1>
{% endif %}